@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url(../fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url(../fonts/Montserrat-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(../fonts/Montserrat-Bold.otf) format('opentype');
}

